PORT=8080
SPRING_DATASOURCE_URL=jdbc:h2:mem:replus;MODE=PostgreSQL;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_DRIVER=org.h2.Driver
REPLUS_WEB_BASE_URL=http://localhost:3000
REPLUS_SEED_DEV_DATA=true
REPLUS_AUTH_SOCIAL_GOOGLE_CLIENT_IDS=
REPLUS_AUTH_SOCIAL_APPLE_CLIENT_IDS=
H2_CONSOLE_ENABLED=true
